---
layout: page
title: Tags
---
<h2 class="c-archives__year">Tags</h1>
<section class="flex-container">

    {% assign tags_list = site.tags %}

    {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
            <a class="c-tag c-item" href="#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    {% else %}
        {% for tag in tags_list %}
            <a class="c-tag c-item" href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
        {% endfor %}
    {% endif %}

    {% assign tags_list = nil %}
</section>

<hr>

<section class="tag-list">
    {% for tag in site.tags  %}
    <h2 class="c-archives__year" id="{{ tag[0] | slugify }}">#{{ tag[0] }}</h2>

    <ul class="c-archives__list">
        {% assign pages_list = tag[1] %}
        {% for post in pages_list reversed %}
            {% if post.title != null %}
                {% if group == null or group == post.group %}
                <li class="c-archives__item">
                    <h3>
                        <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
                        <br>
                        <small>{{post.description}}</small>
                    </h3>
                    <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>

    <div class="breaker"></div>
    {% endfor %}
</section>
