<header class="c-page__header">
    <h1>
        {{ site.title}}

        {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa fa-github"></a>
        {% endif %}
        {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" class="icon fa fa-twitter"></a>
        {% endif %}

    </h1>



    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
        <span class="u-separate"></span>

        <a href="{{ "/projects/" | prepend: site.baseurl }}">Projects</a>
        <span class="u-separate"></span>

        <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
        <span class="u-separate"></span>

        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
        </p>
</header>
